/*ESTILO DEL HOME*/

.top-section {

    background-image: url(../img/top.png);
    background-repeat: no-repeat;
    background-position: center;    

    min-height: 700px;
    padding-top: 180px;
    text-align: center;
    color: #FFF;
}

.top-section h1{

	font-size: 160px;
}

#segundo {

	font-family: OpenSL;
	font-size: 30px;
}

#programaB{
    margin-top: 30px;
    height: auto;
    background-color: transparent;
    padding-top: 15px;
    padding-bottom:  15px;
    padding-left: 50px;
    padding-right: 50px;
    vertical-align: center;
}

#programaB a, a:link, a:hover, a:visited,  a:active{

    color: #fff;
}