/*ESTILO SECTION PARTICIPANTS*/

.participants-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.participants-section img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.participants-section img:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.btn{
	padding: 0px;
}