#top{
	
	background-image: url(../img/top.png);
    background-repeat: no-repeat;
    background-position: center;	

	min-height: 800px;
}

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.navbar {
    margin-top: 40px;
    background-color: white;
}

.navbar-header{
    padding: 0px;
    margin: -10px;
}

.navbar-brand{
    padding: 0px 15px;
}

.navbar-default .navbar-nav>li>a{
    color: #000;
    letter-spacing: 1px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: #000;
    background-color: transparent;
    border-bottom: 2px solid #000;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #000;
    background-color: transparent;
    border-bottom: 2px solid #000;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 10px 0;
    }

    .navbar-nav>li{
        padding-left: 15px;
    }
}

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}