#top{
	
	background-image: url(../img/top.png);	

	min-height: 700px;
}

body {
  min-height: 2000px;
}

.navbar-fixed-top{

	margin-top: 30px !important;
	background-color: #FFF;
}

.navbar-brand{
	padding-top: 0px;
}